.app-sidebar
  background-color #F1F8E0
  width 200px
  height 100%

  .app-sidebar-userinfo
    padding 20px
    display flex
    justify-content center
    align-items center

    .app-sidebar-userinfo-icon
      font-size 72px